@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;



}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.navbar{

position: fixed;
left: 0;
top: 0;
width: 100%;
padding: 25px 9%;
display: flex;
justify-content: space-between;
align-items: center;
z-index: 100;
visibility: hidden;
opacity: 0;
animation: navslide 1.5s linear forwards;
animation-delay: 1.2s;
}

@keyframes navslide{

100%{

visibility: visible;
opacity: 1;

}

}








.navbar .logo{
    font-size: 30px;
    font-weight: 700;
}
.navbar ul {

    display: flex;
}
.navbar ul li{
    list-style: none;
    margin-left: 35px;
}
.navbar ul li a{
    font-size: 20px;
    font-weight: 500;
    transition: .6s;
}
.navbar ul li a:hover{
    color: #7cf03d
    
}
.home {
    height: 100vh;
    display: flex;
    gap: 50px;
    align-items: center;
    padding: 60px 9% 0;
    color: #fbfdfc;
    visibility: hidden;
opacity: 0;
animation: navslide 1.5s linear forwards;
animation-delay: 1.6s;
}
.home-info h1{
    font-size: 29px;
    
}
.home-info h3{
    font-size: 19px;
    margin-top: -10px;
    display: inline-block;
}

.home-info h3 span{
   position: relative;
    display: inline-block;
    color: transparent;
    -webkit-text-stroke: .7px #7cf03d;
    animation: display-text 16s linear infinite;
    animation-delay: calc(-4s * var(--i));

}

@keyframes display-text{

25%,100%{

display: none;

}

}


@keyframes show-text{
    25%{
        opacity: 1;
        animation-timing-function: ease-in-out;
    }
    35%{
        opacity: 0;
        animation-timing-function: ease-in-out;
    }
}

.home-info p{
    font-size: 18px; 
    margin: 10px 0 25px;
}
.home-info .btn-sci{
    display: flex;
    align-items: center;
}

.home-info h3 span::before{
    content: attr(data-text);
    position: absolute;
    width: 0;
    border-right: 2px solid #7cf03d;
    color: #7cf03d;
    white-space: nowrap;
    overflow: hidden;
animation: fill-text 4s linear infinite;
}

@keyframes fill-text {
10%,100% {


    width: 0;
}

70%,90%{

width: 100%;

}


}



.btn{
display: inline-block;
padding: 10px 30px;
background: #7cf03d;
border: 2px solid #7cf03d;
border-radius: 40px;
box-shadow: 0 0 10px #7cf03d;
font-size: 16px;
font-weight: 600;
color: #1f242d;
transition: .5s;
}

.btn:hover{
    background: transparent;
    color: #7cf03d;
    box-shadow: none
    
}
.home-info .btn-sci .sci{
    margin-left: 20px;
}
.home-info .btn-sci .sci a{
    display: inline-flex;
    padding: 8px;
    transition: .5s;
    border: 2px solid #7cf03d;
    border-radius: 50%;
}
.home-info .btn-sci .sci a:hover{
    background: #7cf03d;
    color: #1f242d;
}
.home-img .img-box{
   position: relative;
    width: 32vw;
    height: 32vw;
    border-radius: 50%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}
.home-img .img-box::before,
.home-img .img-box::after{
    content: '';
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: conic-gradient(transparent, transparent, transparent , #7cf03d);
    animation: animate 10s linear infinite;
}


.home-img .img-box .img-item{
   position: relative;
    width: 100%;
    height: 100%;
    background: black;
    border-radius: 50%;
    display: flex;
    border: .1px solid #7cf03d;
    justify-content: center;
    z-index: 1;
    align-items: center;
    overflow: hidden;
}
.home-img .img-box .img-item img{
    position: absolute;
    display: block;
    top: 30px;
    width: 85%;
    object-fit: cover;
mix-blend-mode: lighten;

}

.bars-animation{
position: absolute;
width: 100%;
height: 100%;
display: flex;
z-index: -1;
}

.bars-animation .bar {

width: 100%;
height: 100%;
background: #1f242d;
transform: translateY(-100%);
animation: show-bars .5s ease-in-out forwards;
animation-delay: calc(.1s * var(--i));


}

@keyframes show-bars {

100% {
transform: translateY(0% );

}


}